.footer {
    background-color: var(--light-red);
    text-align: center;
    padding: 20px;
}

.footer > div {
    padding: 20px;
    width: 60%;
    max-width: 900px;
    margin: auto;
    text-align: left;
    display: flex;
}

.footer > div > article {
    margin-right: 20px;
}

.footer > div > img {
    height:  500px;
    width:  auto;
    margin: 20px;
}

.footer > span {
    text-align: center;
}

.footer a {
    text-decoration: none;
    color: #ffe386;
}

.footer ul {
    list-style: none;
    display: flex;
}

.footer ul li {
    margin-right: 30px;
}

@media only screen and (max-width: 1300px){
    .footer > div {
        flex-direction: column;
        width: 70%;
    }

    .footer > div > img {
        height: auto;
        width: 70%;
    }
}

@media only screen and (max-width: 500px){
    .footer > div {
        flex-direction: column;
        width: 90%;
    }

    .footer > div > img {
        height: auto;
        width: 250px;
    }
}