@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Fredoka+One&display=swap');

:root {
  --dark-red: #811823;
  --light-red: #f15049;
  --dark-grey: #282c34;
  --moto-img: url("../../public/moto_opt.jpg");

  --color-main: #000; // #9fbb44
  --color-complementary: #573e3a; // #6044bb
  --color-analogous: #4a6457; //#64bb44
  --color-highlight: #ffbdad;

  --section-width: 60%;

  --link-color: #f4c531;

  --js: #fcdc00;
  --js-side: #f8e14d;
  --ts: #3178c6;
  --ts-side: #6193c9;
  --react: #61dafb;
  --react-side: #a1e7fa;
  --nodejs: #026e00;
  --nodejs-side: #2e912c;
  --graphql: #e10098;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
    font-size: 1.2em;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
