.Projects {
    height: fit-content;
    min-height: 100%;
    background-color: var(--dark-grey);
	background-image: url("../images/moto.jpg");
	background-size: cover;
    font-size: 1.1em;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    padding: 15vh 10vh;
    color: white;
    background-color: rgba(0,0,0, .8);
}

.projects article {
    animation: fadeIn .8s ease-in both;
    padding: 0 4vw 0;
}

.projects a {
    color: orange;
    text-decoration: none;
}

@keyframes fadeIn {
    from {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
} 

@media only screen and (max-width: 850px){
    .Projects {
        height: fit-content;
    }

    .projects {
        height: fit-content;
    }
}