.Navbar {
  font-size: 1.2em;
  height: 10vh;
  position: absolute;
  z-index: 1;
  opacity: 0.8;

  ul {
    list-style: none;
    display: flex;

    li {

      a {
        text-decoration: none;
        color: white;
        margin-right: 20px;
      }
    }
  }
}